body {
  margin: 10px;
}

/* Overrides */

.ui.visible.left.sidebar~.pusher {
  -webkit-transform: translate3d(120px, 0, 0);
  transform: translate3d(120px, 0, 0);
}

/* Styles */

.field {
  min-width: 350px;
}

.view-3d {
  height: calc(50vh - 20px);
  min-width: 450px;
  max-width: 1000px;
}

.td-scenario .view-3d {
  width: calc(100vw - 40px);
}

@media (min-width: 850px) {
  .combo-scenario {
    display: flex;
    justify-content: space-around;
  }

  .combo-scenario .view-3d {
    width: calc(50vw - 20px);
  }
}

@media (max-width: 850px) {
  .combo-scenario .view-3d {
    /* -100px for the menu + -50px for style */
    width: calc(100vw - 150px);
  }
}

.field svg {
  /* border: solid black 1px; */
}

.color-block {
  display: inline-block;
  width: 20px;
  height: 20px;
}

textarea {
  width: 95vw;
  height: 250px;
}

.player.draggable {
  cursor: pointer;
}