body {
  margin: 10px;
}

#view-3d {
  height: calc(50vh - 20px);
  width: calc(50vw - 20px);
}

#field svg {
  border: solid black 1px;
}

#codec textarea {
  width: 95vw;
  height: 250px;
}

a-scene {
  height: 300px;
  width: 600px;
}